name: publish-firefox
on:
  workflow_dispatch:
    inputs:
      githubRef:
        description: "The tag to associate with the release"
        required: true
permissions:
  contents: read
jobs:
  publish:
    runs-on: ubuntu-latest
    environment: cd
    steps:
      - uses: robinraju/release-downloader@daf26c55d821e836577a15f77d86ddc078948b05 # pin@v1.12
        with:
          tag: ${{ inputs.githubRef }}
          zipBall: true
          fileName: "*"

      - name: Deploy to Firefox Addons
        id: addonsDeploy
        uses: cardinalby/webext-buildtools-firefox-addons-action@987e338100095280ec8daf942e5640aeb55d3647 # pin@v1.0.10
        continue-on-error: true
        with:
          zipFilePath: rikaitan-firefox.zip # Path to packed extension (relative to repository).
          sourcesZipFilePath: rikaitan-${{ inputs.githubRef }}.zip # source code of the extension
          extensionId: ${{ secrets.FF_EXTENSION_ID }}
          jwtIssuer: ${{ secrets.FF_JWT_ISSUER }}
          jwtSecret: ${{ secrets.FF_JWT_SECRET }}

      - name: Abort on upload error
        if: |
          steps.addonsDeploy.outcome == 'failure' &&
          steps.addonsDeploy.outputs.sameVersionAlreadyUploadedError != 'true' &&
          steps.addonsDeploy.outputs.timeoutError != 'true'
        run: exit 1
